$white: #FEFEFE;
$chocolate: #D2691E;
$goldenrod: #DAA520;
$lightGray: #fafafa;
$honeyDew : #F0FFF0;
$lightYellow: #FFFFE0;
$snow: #FFFAFA;
$deepSkyBlue: #00BFFF;
$gainsboro: #DCDCDC;
$antiqueWhite: #FAEBD7;
$midnightBlue: #191970;
$AntiqueWhite: #FAEBD7;
$silver: #C0C0C0;
$dodgerBlue: #1E90FF;
$seaGreen: #2E8B57;
$black: #000000;
