$white: #FEFEFE;
$chocolate: #D2691E;
$goldenrod: #DAA520;
$lightGray: #fafafa;
$honeyDew : #F0FFF0;
$lightYellow: #FFFFE0;
$snow: #FFFAFA;
$deepSkyBlue: #00BFFF;
$gainsboro: #DCDCDC;
$AntiqueWhite: #FAEBD7;